**Import Library**

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

**Load Data**

In [4]:
df = pd.read_csv('02-preprocessed-data.csv')
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0,0.0

**Classify X,Y and Split**

In [7]:
X = df.drop('Exited', axis=1)
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [8]:
train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

**Save to file**

In [9]:
train_df.to_csv('03-train.csv', index=False)
test_df.to_csv('04-test.csv', index=False)